.bg-color-main
{
    background-color: #1E202B;
}

.nav-home
{
    border: 3px solid #009AD8;
    border-radius: 30px 30px 30px 30px;
    
}

.nav-home-color
{
    color: #009AD8 !important; 
}

.nav-feature
{
    transition: 1s;
    border: 3px solid transparent;
}

.nav-feature:hover
{
    border: 3px solid #009AD8;
    border-radius: 30px 30px 30px 30px;
    color: #009AD8 !important; 
}

.fw-nav
{
    font-size: 10px;
}

.bg-section
{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
}

.iput-section
{
    background-color: #1E202B;
    border: 20px solid #1E202B;
    border-radius: 30px 30px 30px 30px;
    font-size: larger;
    color: white;
}

.iput-section2
{
    background-color: #1E202B;
    border: 15px solid #1E202B;
    border-radius: 30px 30px 30px 30px;
    font-size: larger;
    color: white;
}

.btn-styles
{
   border: 10px solid #009AD8 ;
   border-radius: 20px 20px 20px 20px;
   background-color: 009AD8;
   right: -1%;
   
}

.btn-styles2
{
    border: 5px solid #009AD8 ;
   border-radius: 20px 20px 20px 20px;
   background-color: 009AD8;
   right: -3%;
}

.bg-color-1{
    background-color: #2D303D;
}

.bg-color-2{
    background-color: #323544;
}

.bg-color-3{
    background-color: #262936;
}

.border-element
{
    border: 1px solid #323544;
    border-radius: 0px 0px 20px 20px;
}

.border-element-2
{
    border: 1px solid #323544;
    border-radius: 20px 20px 0px 0px;
}

.position-continer-main
{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%);
    
}

.icons-style
{
    background-color: #1E202B;
    border-radius: 50%;
    color: #009AD8;
    transition: 1s;
}

.icons-style:hover
{
background-color:#009AD8 ;
color: white;
}